
.article-card {
  header {
    width: 100%;
    height: 196px;
    border-radius: 12px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  main {
    margin: 0.5rem 0;

    &>* {
      margin: 6px 0;
    }

    .article-title {
      height: 50px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      width: 100% !important;
      cursor: pointer;
    }

    .article-caption {
      font-size: small;
      color: gray;

      cursor: pointer;
      height: 63px;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      width: 100% !important;
    }
  }

  .article-footer {
    margin-top: 10px;
    font-size: 12px !important;

    .author-label {
      color: gray;

      .author-name {
        color: black !important;
        font-family: "Vazir-Medium";
      }
    }

    .published-date {
      color: rgb(58, 58, 58);
    }
  }
}
.divider {
  width: 100%;
  height: 1px;
  background: black;
  opacity: 0.1;
  margin: 12px 0;
}
