.status-label {
  border-radius: var(--radius-md);
  padding-inline: calc(var(--spacing) * 2);
  padding-block: calc(var(--spacing) * 1);
  font-family: 'Vazir-Medium' !important;
  font-size: var(--text-xs);
  line-height: var(--tw-leading, var(--text-xs--line-height));
  &.completed {
    background-color: color-mix(
      in srgb,
      oklch(72.3% 0.219 149.579) 10%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-green-500) 10%,
        transparent
      );
    }
    color: var(--color-green-500);
  }
  &.on-going {
    background-color: color-mix(in oklab, #077e8c 5%, transparent);
    color: #077e8c;
  }
  &.pending {
    background-color: color-mix(in oklab, #8e422f 5%, transparent);
    color: #8e422f;
  }
  &.paused {
    background-color: color-mix(in oklab, #d9512c 5%, transparent);
    color: #d9512c;
  }
  &.deleted {
    background-color: color-mix(in oklab, #1d1d1d 5%, transparent);
  }
}
.priority {
  border-radius: var(--radius-md);
  padding-inline: calc(var(--spacing) * 2);
  padding-block: calc(var(--spacing) * 1);
  font-family: "Vazir-Medium" !important;
  font-size: var(--text-xs);
  line-height: var(--tw-leading, var(--text-xs--line-height));

  &.code-0 {
    background-color: color-mix(
      in srgb,
      oklch(62.3% 0.214 259.815) 10%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-blue-500) 10%,
        transparent
      );
    }
    color: var(--color-blue-500);
  }
  &.code-1 {
    background-color: color-mix(
      in srgb,
      oklch(79.5% 0.184 86.047) 10%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-yellow-500) 10%,
        transparent
      );
    }
    color: var(--color-yellow-500);
  }
  &.code-2 {
    background-color: color-mix(
      in srgb,
      oklch(70.5% 0.213 47.604) 10%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-orange-500) 10%,
        transparent
      );
    }
    color: var(--color-orange-500);
  }
  &.code-3 {
    background-color: color-mix(
      in srgb,
      oklch(63.7% 0.237 25.331) 10%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-red-500) 10%,
        transparent
      );
    }
    color: var(--color-red-500);
  }
  &.code-4 {
    background-color: color-mix(
      in srgb,
      oklch(62.7% 0.265 303.9) 10%,
      transparent
    );
    @supports (color: color-mix(in lab, red, red)) {
      background-color: color-mix(
        in oklab,
        var(--color-purple-500) 10%,
        transparent
      );
    }
    color: var(--color-purple-500);
  }
}

.task-card {
  font-family: "Vazir-Medium" !important;
  display: flex;
  min-height: calc(var(--spacing) * 20);
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-md);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--color-gray-200);
  background-color: var(--color-white);
  padding: calc(var(--spacing) * 5);
  --tw-shadow-alpha: 5%;
  --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, oklab(from
            rgb(0 0 0 / 0.1) l a b / 5%)),
    0 4px 6px -4px var(--tw-shadow-color, oklab(from rgb(0 0 0 / 0.1) l a b / 5%));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  &.done {
    position: relative;
    &::before {
      content: var(--tw-content);
      position: absolute;
    }
    &::before {
      content: var(--tw-content);
      left: calc(var(--spacing) * 4);
    }
    &::before {
      content: var(--tw-content);
      font-size: var(--text-sm);
      line-height: var(--tw-leading, var(--text-sm--line-height));
    }
    &::before {
      content: var(--tw-content);
      color: var(--color-zinc-500);
    }
    &.removed {
      &::before {
        --tw-content: "حذف شده ⛔";
        content: var(--tw-content);
      }
    }
    * > .dropdown {
      visibility: hidden !important;
      display: none !important;
    }
  }
}
.task-content {
  display: flex;
  width: calc(3 / 4 * 100%);
  align-items: center;
  gap: calc(var(--spacing) * 2);
}
.task-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: 700px;
  font-family: "Vazir-Medium" !important;
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  color: var(--color-zinc-600);
  margin-top: 8px !important;
  opacity: 0.7;
}

.empty-list {
  margin-inline: auto !important;
  display: flex;
  max-width: max-content !important;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
  text-align: center;
  font-size: var(--text-lg);
  line-height: var(--tw-leading, var(--text-lg--line-height));
  color: var(--color-zinc-600);
}

h3 {
  font-family: "Vazir-Bold" !important;
}

.moderate {
  display: flex;
  align-items: center;
  gap: 32px;
  /* margin-right: 24px !important; */
}

.complete-task {
  color: rgb(45, 174, 45);
}
.moderate-btns {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px !important;

  & > * {
    cursor: pointer;
  }
}
.undone-btn {
  color: red;
}

.remove-btn {
  color: rgb(255, 115, 0);
}