.client-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  * > a {
    color: black !important;
    text-decoration: none;
  }
}

.header-btns {
  user-select: none;
}
